<!DOCTYPE html>
<html>
<head>
    <title>HireSmart AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    HireSmart AI
</div>

<div style="display:flex; justify-content:center; align-items:center; height:80vh;">
    <div class="chart-box" style="width:400px; text-align:center;">
        
        <h2 style="margin-bottom:30px;">Welcome to HireSmart AI</h2>

        <a href="/login">
            <button class="search-btn" style="width:100%; margin-bottom:15px;">
                Login as Recruiter
            </button>
        </a>

        <a href="/candidate-login">
            <button class="search-btn" style="width:100%;">
                Login as Candidate
            </button>
        </a>

    </div>
</div>

</body>
</html>
